@font-face {
  font-family: 'NunitoSans Bold';
  src: url('../assets/fonts/NunitoSans_Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans Medium';
  src: url('../assets/fonts/NunitoSans_Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans Regular';
  src: url('../assets/fonts/NunitoSans_Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'NunitoSans SemiBold';
  src: url('../assets/fonts/NunitoSans_SemiBold.ttf') format('truetype');
}
